.row{
    padding: 20px;
    background-color: rgb(0, 0, 0);
   
}
img{border-radius: 5%;
    
    border:cornflowerblue;
    border-style: groove;
    
}


#nombre{
    font-weight: bold;
    color: aliceblue;
}


h1{
    color: aliceblue;
}

p{
    color:aliceblue;
}

.title{
    color:rgb(255, 0, 179);
}

